{
    "parser": "babel-eslint",
    "extends": ["react-app", "plugin:jsx-a11y/recommended"],
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
     "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "react", "html", "jsx-a11y"
    ],
    "settings": {
        "html/html-extensions": [".html"]
    },
    "rules": {
        "react/jsx-uses-react": "error",
        "jsx-a11y/href-no-hash": 0,
        "jsx-a11y/anchor-is-valid": 0,
        "no-console": 0,
        "react/jsx-uses-vars": "error",
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "off",
            "single"
        ]

    }
}